@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";

.body {
  font-family: "Lato", sans-serif !important;
}

h1,
h2,
h3,
h4 {
  font-family: "Lato", sans-serif !important;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

/* .perspective-2000 {
  perspective: 700px;
} */

.vignette {
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 1) 12%,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 1) 88%
  );
}

.ring-img {
  backface-visibility: hidden;
  user-select: none;
}
