@import "tailwindcss";

.transform-style-3d {
  transform-style: preserve-3d;
}

/* .perspective-2000 {
  perspective: 700px;
} */

.vignette {
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 1) 12%,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 1) 88%
  );
}

.ring-img {
  backface-visibility: hidden;
  user-select: none;
}
